.header {
  grid-area: header;
  height: 100px;
  width: 100%;
  background-color: rgba(24, 4, 32, 1);
  background-image: url('https://images.hdqwalls.com/wallpapers/bthumb/mountains-on-mars-f7.jpg');
  background-repeat: no-repeat;
  background-size: 200px;
}